<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.AttachMapper">
	<insert id ="insertAttach">
	insert into asd.attach(uuid,filetype,path,name,unum,regdate)
	values(#{uuid},#{filetype},#{path},#{name},#{unum},current_timestamp)
	
	</insert>
	
</mapper>