<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.MemberMapper">
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO members (
			email,passwd,username,reg_date,age,resident_id,
			gender,local,mobile,hobby1,hobby2,hobby3,intro,story,main_uuid
		)
		VALUES (
			#{email},#{passwd},#{username},current_date(),
			#{age},#{residentId},#{gender},#{local},#{mobile},
			#{hobby1},#{hobby2},#{hobby3},#{intro},#{story},#{mainUuid}
		)
	</insert>
	
	<update id="updateMember" parameterType="MemberVO">
		UPDATE members
		SET passwd=#{passwd}, username=#{username}, local=#{local}, mobile=#{mobile},
			hobby1=#{hobby1}, hobby2=#{hobby2}, hobby3=#{hobby3}, intro=#{intro}, story=#{story}
		WHERE email=#{email}
	</update>
</mapper>