<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wwm.mapper.AttachMapper">
 	<insert id ="insertAttach"> <!-- 파라미터 생략. 인터페이스에 파라미터가 이미 정의되어있기때문 -->
		INSERT INTO jspdb.attach (uuid, uploadpath, filename, filetype, bno) 
		VALUES (#{uuid}, #{uploadpath}, #{filename}, #{filetype}, #{bno})
	</insert>
</mapper>