<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwm.mapper.MemberMapper">
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO jspdb.zmember (id, passwd, name, email, hobby, birth, regdate, mpic, gold, num, point, pointcount)
		VALUES (#{id}, #{passwd}, #{name}, #{email}, #{hobby}, #{birth}, current_timestamp, #{mpic}, #{gold}, #{num}, #{point}, #{pointcount})
	</insert>
	
	<update id="updateMember" parameterType="MemberVO">
		UPDATE jspdb.zmember
		SET name=#{name}, hobby=#{hobby}, age=#{age}, gender=#{gender}, story=#{story}, mpic=#{mpic}, location=#{location}, mobile=#{mobile}, comment=#{comment}
		WHERE id = #{id}
	</update>
	
</mapper>